<!DOCTYPE html>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="datatables/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="datatables/css/jquery.dataTables.css">
<link rel="stylesheet" href="style.css">
<script>
$(document).ready( function () {
       $('#example').dataTable({
       "pageLength": 15,
       "lengthChange": false, 
       "info":false,
       "bFilter": false,
       "bInfo": false
   })});
</script>
<font size="2" face="Courier New" >
<a href="https://github.com/jakedolan443/cryptohttp" style="text-align: left">View Source</a>
<br>
<br>
<div style="width:80%; margin:0 auto;">
<table id="example" class="display cryptotable" style="font-size: 22px">
<thead>
    <tr>
        <th class="disable-select">Icon</th>
        <th class="disable-select">Code</th>
        <th class="disable-select">Name</th>
        <th class="disable-select">Price</th>
        <th class="disable-select">Change</th>
    </tr>
</thead>
    <tbody>
    {% for entry in data %}
        <tr>
            <td><img src="{{ entry['img'] }}"></img></td>
            <td class="disable-select">{{ entry['code'] }}</td>
            <td class="disable-select">{{ entry['name'] }}</td>
            <td class="disable-select">{{ entry['price'] }}</td>
            <td class="disable-select" style="color:{{ entry['change_colour'] }}">{{ entry['change'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</font>
<br>
</div>
